input[type='text']{
    border: none;
}
h1{
    font-family: 'Roboto', sans-serif;
}
a{

    color: #70A0FF;

}
.sul{
    color: #F58E2F !important;
    text-decoration: none;
}
.sul1{
    color: #70A0FF !important;
    text-decoration: none;
    font-size: 30px !important;
}
body{

}
/* header */
header{
    width: 100%;
    height: 101px;
    border: 1px solid;
    border-color: #BEBEBE;
}
.container{
    display: flex;
    text-align: left;
    margin-left: 30px;
}
.txt_logo{
    font-size: 36px;
 color: #F58E2F;
}
.txt_logo_2{
    font-size: 36px;
    color: #70A0FF;
}
.Express{
    width: 163px;
    height: 63,75px;
}
.nav_price{
    display: inline-block;
    text-decoration: none;
    margin-top: 16px;
}
.user{
    position: absolute;
    right: 240px;
    margin-top: 10px;
}
.point{
    position: absolute;
    right: 190px;
    margin-top: 35px;

}

/* main */
main{
    width: 100%;
    height: 1100px;
}
.text_auto{
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    position: absolute;
    margin-top: 25px;
    right: 80px;
}
.text_auto1{
    width: 600px;
    height: 200px;
    font-size: 25px;
    text-transform: uppercase;
    color: black;
    position: absolute;
    margin-top: 60px;
    right: 150px;

}
.text_auto2{
    width: 600px;
    height: 200px;
    font-size: 25px;
    text-transform: uppercase;
    color: black;
    position: absolute;
    margin-top: 100px;
    right: 80px;
    margin-right: 45%;
}
.button_route{
    width: 314px;
    height: 78px;
    border-color: #70A0FF;
    font-weight: bold;
    border: 4px solid;
    border-radius: 161px;
    font-size: 24px;
    color: #70A0FF;
    background-color: white;
    text-decoration: none;
}
.button_route1{
    width: 314px;
    height: 78px;
    border-color: #70A0FF;
    font-weight: bold;
    border: 4px solid;
    border-radius: 161px;
    font-size: 20px;
    color: white;
    background-color: #70A0FF;
    text-decoration: none;

}
.button_route1{
    position: absolute;
    right: 200px;
    margin-top: 280px;
}
.button_route2{
    width: 314px;
    height: 78px;
    border-color: #70A0FF;
    font-weight: bold;
    border: 4px solid;
    border-radius: 161px;
    font-size: 20px;
    color: white;
    background-color: #70A0FF;
    text-decoration: none;

}
.button_route2{
    position: absolute;
    margin-top: 22%;
    margin-left: 22%;
}
/*Zak*/
.history{
    width: 80%;
    margin-left: 10%;
    margin-top: 55px;


}
.name_history{
    color: #70A0FF;
    font-size: 15px;
}
.hisoty_1{
    width: 100%;
    height: 450px;
   display: flex;
   justify-content: space-between;
}
.history_a{
    width: 350px;
    height: 480px;
    border: 2px solid black;
    border-radius: 55px;
}
.checkbox_button{
    background-color: #70A0FF;
    border-radius: 35px;
    margin-left: 70%;
    border: none;
    color: white;
    width: 90px;
    height: 26px;
}
/*info*/
.pod_name{
 color: #8c8c8c;
 font-size: 14px;
 line-height: 1px;
}
.pod_name_a{
    font-size:36px;
    line-height: 1px;

}
.info_user{
    margin-left: 25px;
    margin-top: 35px;
}
/*h1_h*/
.h1_h{
    text-align: center;
    font-size: 36px;
}
.h1_h1{
    width: 85px;
    height: 33px;
    font-size: 36px;
}
.history_a{

    font-size: 32px;
}
.p_h{
    margin-top: 35px;
    margin-left: 24px;
}
.input_h1{
    width: 190px;
    height: 20px;
    margin-left: 15px;
}
.checkbox_in{
    margin-left: 20%;
}
.checkbox_a{
    margin-left: 52%;
    font-size: 12px;
}

.checkbox_p{
    font-size: 12px;
}


/*footer*/
.footer_low{
    background-color: #C4C4C4;
    width: 100%;
    height: 166px;
}
.tex_par{

}
.footer_1{
    height:33px;
    width:655px;
    display: flex;
    justify-content: space-between;
}
.img_soc{
 height: 83px;
 width: 83px;
}
.img_soc_pos{
    text-align: right;
    position: relative;
    bottom: 0;

}
.super_footer{
    width: 100%;
    height: 70px;
    background-color: #8c8c8c;
}
.super_footer{
    font-size: 25px;
}

.product-item {
   width: 300px;
   text-align: center;
   margin: 0 auto;
   background: white;
   font-family: "Open Sans";
   transition: .3s ease-in;
}

.product-item img {
   display: block;
   width: 100%;
}
.product-list {
   background: #fafafa;
   padding: 15px 0;
}
.product-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}
.price {
   font-size: 16px;
   color: #fc5a5a;
   display: block;
   margin-bottom: 12px;
}
.button {
   text-decoration: none;
   display: inline-block;
   padding: 0 12px;
   background: #cccccc;
   color: white;
   text-transform: uppercase;
   font-size: 12px;
   line-height: 28px;
   transition: .3s ease-in;
}
